#commande{
-fx-background-color:   #e8e8e8;
-fx-border-width: 1px;
-fx-cursor: hand;
-fx-background-radius:80;
}
#commande:hover {
-fx-transition-duration: 1s; 
    -fx-effect: dropshadow(gaussian, #666, 5, 0.5, 0, 0);
-fx-background-color: #BDBDBD;

    }
#add{
-fx-background-color:   #e8e8e8;
-fx-border-width: 1px;
-fx-cursor: hand;
-fx-background-radius:80;
}
#add:hover {
-fx-transition-duration: 1s; 
    -fx-effect: dropshadow(gaussian, #666, 5, 0.5, 0, 0);
-fx-background-color: #BDBDBD;

    }

#refpanier{
-fx-background-color:   #e8e8e8;
-fx-border-width: 1px;
-fx-cursor: hand;
-fx-background-radius:80;
}
#refpanier:hover {
-fx-transition-duration: 1s; 
    -fx-effect: dropshadow(gaussian, #666, 5, 0.5, 0, 0);
-fx-background-color: #BDBDBD;

    }


#deleteprod{
-fx-background-color:   #e8e8e8;
-fx-border-width: 1px;
-fx-cursor: hand;
-fx-background-radius:80;
}
#deleteprod:hover {
-fx-transition-duration: 1s; 
    -fx-effect: dropshadow(gaussian, #666, 5, 0.5, 0, 0);
-fx-background-color: #BDBDBD;

    }
#filtre{
-fx-background-color:   #e8e8e8;
-fx-border-width: 1px;
-fx-cursor: hand;
-fx-background-radius:80;
}
#filtre:hover {
-fx-transition-duration: 1s; 
    -fx-effect: dropshadow(gaussian, #666, 5, 0.5, 0, 0);
-fx-background-color: #BDBDBD;

    }
#last{
-fx-background-color:   #e8e8e8;
-fx-border-width: 1px;
-fx-cursor: hand;
-fx-background-radius:80;
}
#last:hover {
-fx-transition-duration: 1s; 
    -fx-effect: dropshadow(gaussian, #666, 5, 0.5, 0, 0);
-fx-background-color: #BDBDBD;

    }


#anchor{
-fx-background-color:  #00334E;
}
#anchor:hover {
-fx-transition-duration: 1s; 
    -fx-effect: dropshadow(gaussian, #666, 5, 0.5, 0, 0);
-fx-background-color: #004A71;

    }